/*Breakpoints*/
@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(0, 70px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(-70px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(70px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes growWidth75 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
header .navigation {
  display: flex;
  justify-content: space-between;
}
header .navigation nav ul {
  display: flex;
  list-style-type: none;
}
header .navigation nav ul li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
header .navigation nav ul li:last-child {
  margin-right: 0;
}
header .navigation nav ul li a {
  text-decoration: none;
  position: relative;
}
header .navigation nav ul li a:visited {
  color: rgb(0, 0, 0);
}
header .navigation nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  margin: 0 12.5%;
  top: 25px;
  height: 2px;
  background-color: #e76f51;
  animation: growWidth75 linear 0.4s forwards;
}
header .navigation nav ul li button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}
header .navigation nav ul li button .user-icon-button {
  width: 33px;
}
header .navigation nav ul li button .contact-form-button {
  position: relative;
  top: -5px;
}

body {
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 1px;
}
body .container {
  margin: auto;
  max-width: 1600px;
  padding: 0 25px;
}
body .title {
  margin-top: 50px;
  margin-bottom: 30px;
}
body h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  position: relative;
  padding: 40px 0;
  color: blue;
}
body h2 {
  font-family: "Lobster", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  padding: 32px 0 25px;
}
body h3 {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
  padding: 25px 0 18px;
}
body h4 {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 0;
}
body p {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0;
}
body p a {
  text-decoration: underline;
}
body p a:hover {
  text-decoration: none;
}
body button {
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer;
}
body ul {
  margin: 20px 0;
}
body ul li {
  margin: 10px 0;
  list-style-position: inside;
}

.seperator-right {
  position: relative;
  padding-right: 15px;
}
.seperator-right:before {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
}/*# sourceMappingURL=main.css.map */