// graphical charter//
$color-primary: #e76f51;
$color-secondary: #e74d27;
$color-bg: #fbe3dc;
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey: #efefef;
$color-grey-text: #909090;
$color-success: #4ebd4e;
$color-error: #e54141;
