.contact-form-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #0000001f;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    background-color: $color-bg;
    padding: 15px;
    border-radius: 12px;
    position: relative;
    min-width: 500px;
    @include transition(0.3s);
    animation: scaling 0.3s linear forwards;

    h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
      img {
        width: 100px;
        position: absolute;
        right: 30px;
        top: 6px;
      }
    }
    .close-form-btn {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 22px;
      font-weight: 600;
      color: $color-primary;
    }
    .form-content {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        padding: 10px;
        margin-bottom: 25px;
        border: unset;
        border-radius: 6px;
      }
      textarea {
        margin-bottom: 0;
      }
    }
    .required {
      text-align: right;
      font-size: 14px;
      font-style: italic;
    }
    button.submit-form {
      background-color: $color-primary;
      color: $color-white;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 16px;
      padding: 6px 18px;
      border: 2px solid $color-primary;
      @include transition(0.3s);
      &:hover {
        background-color: unset;
        color: $color-primary;
      }
    }
  }
}
