.favorite-recipes-page {
  .favorite-recipes-container {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #efefef;
    h2 {
      margin-top: 0;
    }
  }

  .banner-container {
    background-image: url(../../../assets/banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to('phones') {
      min-height: unset;
    }
    h1 {
      margin-bottom: 0;
    }
  }
}
