.recipe-details-page {
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  .header-details {
    background-color: $color-bg;
    padding: 50px 0;
    @include respond-to('tablets') {
      padding: 25px 0;
    }
    @include respond-to('phones') {
      padding: 15px 0;
    }
    .flex-container {
      margin-top: 25px;
      @include respond-to('tablets') {
        flex-direction: row;
      }
    }
    .details-container {
      display: flex;
      @include respond-to('tablets') {
        flex-direction: column;
      }
      .details-content {
        padding-left: 50px;
        max-width: 750px;
        position: relative;
        @include respond-to('laptops') {
          max-width: 550px;
        }
        @include respond-to('tablets') {
          padding-left: 0;
          text-align: center;
          max-width: 100%;
        }
        @include respond-to('phones') {
          text-align: center;
        }
        h1 {
          color: $color-primary;
          font-size: 36px;
          padding: 0;
          margin-top: 0;
          margin-bottom: 15px;
          @include respond-to('tablets') {
            font-size: 28px;
            margin-top: 15px;
          }
        }
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 16px;
        }
        .duration-container {
          img {
            width: 46px;
          }
          p {
            margin: 0;
          }
        }
        .btn-container {
          margin-top: 30px;
        }
      }
    }
    .image-container {
      margin-top: 15px;
      @include respond-to('tablets') {
        text-align: center;
      }
      img {
        @include respond-to('tablets') {
          width: 50%;
        }
        @include respond-to('phones') {
          width: 100%;
        }
      }
    }
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @include respond-to('tablets') {
      flex-direction: column;
      margin-top: 25px;
    }
    @include respond-to('phones') {
      flex-direction: column;
      margin-top: 15px;
    }
  }
  .infos-details {
    width: 80%;
    padding-right: 200px;
    @include respond-to('tablets') {
      padding-right: 0;
      width: 100%;
    }
    .recipe-instructions {
      margin-top: 50px;
      ul {
        padding: 0;
        li {
          margin-bottom: 15px;
          font-size: 16px;
          span {
            display: block;
            color: $color-primary;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
      }
    }
    .recipe-ingredients {
      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          font-size: 16px;
          span {
            &::first-letter {
              text-transform: capitalize;
            }
          }
          img {
            width: 50px;
            max-height: 50px;
            margin-right: 15px;
          }
          .line {
            width: 150px;
            height: 1px;
            background-color: $color-black;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .similar-recipes-container {
    width: 20%;
    @include respond-to('tablets') {
      width: unset;
    }
    h3 {
      text-transform: lowercase;
      font-family: $font1;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    ul {
      padding-left: 20px;
    }
    li.recipe-card {
      list-style-type: disc;
      list-style-position: outside;
      cursor: pointer;
    }
  }
}
