footer {
  background-color: $color-bg;
  padding: 10px 0;
  .footer-content {
    display: flex;
    align-items: center;
    @include respond-to('phones') {
      flex-direction: column;
    }
    .logo-container {
      img {
        width: 90px;
      }
    }
    p {
      margin: 0 auto;
      color: $color-primary;
      font-weight: 600;
      font-size: 16px;
      @include respond-to('phones') {
        text-align: center;
      }
      a {
        color: $color-primary;
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
